 {% for i in product %}
                                <div class="item item-thumbnail">
                                    <a href="{% url 'product_detail' i.id %}" class="item-image">
                                        <img src="{{ i.image.url}}" alt="" />
                                        <div class="discount">15% OFF</div>
                                    </a>
                                    <div class="item-info">
                                        <h4 class="item-title">
                                            <a href="{% url 'product_detail' i.id %}">{{ i.name}}<br />{{ i.specification }}</a>
                                        </h4>
                                        <p class="item-desc">{{ i.discription}}</p>
                                        <div class="item-price">{{i.price}}</div>
                                        <div class="item-discount-price">{{i.discount}}</div>
                                    </div>
                                </div>
                                {% endfor %}